/build/.vs/mod/v15/Server/sqlite3/storage.ide-wal
/build/.vs/mod/v15/Server/sqlite3/storage.ide-shm
/build/.vs/mod/v15/Server/sqlite3/storage.ide
/build/.vs/mod/v15/Server/sqlite3/db.lock
/build/.vs/mod/v15/.suo
/build/obj/x86/Debug/mod.csproj.FileListAbsolute.txt
/build/obj/x86/Debug/mod.csproj.CoreCompileInputs.cache
/build/obj/x86/Debug/kzmod.pdb
/build/obj/x86/Debug/kzmod.dll
/build/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
